@import url(bootstrap-grid.min.css);
@import url(bootstrap-reboot.min.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #2dba4e;
  --primaryhover: #226832;
  --secondary: #f1f4f2;
  --dark: #2b3137;
  --light: #fefefe;
}
body {
  font-family: roboto;
  line-height: 150%; /* 24px */
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 16px 0px;
}
ul > a > li {
  margin-right: auto;
  color: var(--primary);
  font-weight: bold;
  padding: 16px 32px;
}
ul > a > li.active {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 10px;
}
ul > a > li.active:hover {
  background-color: var(--primaryhover);
  color: var(--secondary);
}
ul > a > li:hover {
  color: var(--primaryhover);
  font-weight: bold;
  cursor: pointer;
}
h6 {
  font-weight: 600;
  font-size: 21.33px;
}
h5 {
  font-weight: 600;
  font-size: 28.43px;
}
h4 {
  font-weight: 600;
  font-size: 37.9px;
}
h3 {
  font-weight: 600;
  font-size: 50.52px;
}
h2 {
  font-weight: 600;
  font-size: 67.34px;
}
h1 {
  font-weight: 600;
  font-size: 89.76px;
}
.boldParagraph {
  font-weight: 600;
  font-size: 16px;
}
.boldSmall {
  font-weight: 600;
  font-size: 12px;
}
.boldExtraSmall {
  font-weight: 600;
  font-size: 9px;
}

.h6Regular {
  font-size: 20px;
}
.h5Regular {
  font-size: 25px;
}
.h4Regular {
  font-size: 31px;
}
.h3Regular {
  font-size: 39px;
}
.h2Regular {
  font-size: 49px;
}
.h1Regular {
  font-size: 61px;
}
small {
  font-size: 13px;
}
.extraSmall {
  font-size: 10px;
}
.mt-48 {
  margin-top: 48px;
}
.btn {
  padding: 16px 32px;
  min-width: 64px;
  background-color: var(--primary);
  color: var(--secondary);
  display: inline-flex;
  border-radius: 10px;
  font-size: 16px;
  gap: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.btn:hover {
  background-color: var(--primaryhover);
  cursor: pointer;
}
.btn:focus {
  background-color: var(--primary);
  box-shadow: 0px 0px 10px 0px var(--primary);
}
.btn:active {
  background-color: var(--primaryhover);
  box-shadow: 0px 0px 10px 0px var(--primaryhover);
}
svg[height="30"]:hover {
  fill: green;
  cursor: pointer;
}
footer {
  margin-top: auto;
}
.mobile-menu-container {
  position: absolute;
}
.mobile-menu-container ul {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--secondary);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
.mobile-menu-container ul svg {
  position: absolute;
  top: 0;
  right: 0;
}
#menu-btn {
  cursor: pointer;
}
#menu-close-btn {
  cursor: pointer;
}
